Repository AyariAhmed/Software-Tests-DevOps-Lab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx,json,md,yaml}": ["prettier --write"],
  "./**/*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

deploy to ecs
  .github/workflows/api-production-deploy.yml
Due: none

Update README.md
  README.md
Due: prettier --write

Update README.md
  www/README.md
Due: prettier --write

update readme file
  README.md
Due: prettier --write

frontend
  README.md
  www/package-lock.json
  www/package.json
  www/public/index.html
  www/src/App.js
  www/src/components/Home.js
Due: prettier --write, eslint --fix

trigger www workflow
  .github/workflows/www-production-deploy.yml
  README.md
  www/cypress.config.js
  www/cypress/e2e/spec.cy.js
  www/cypress/fixtures/example.json
  www/cypress/support/commands.js
  www/cypress/support/e2e.js
  www/package-lock.json
  www/package.json
  www/src/App.js
Due: prettier --write, eslint --fix

trigger www workflow
  .github/workflows/www-production-deploy.yml
Due: none

trigger www workflow
  .github/workflows/api-production-deploy.yml
  www/cypress.config.js
Due: prettier --write, eslint --fix

trigger www workflow
  .github/workflows/api-production-deploy.yml
  .github/workflows/www-production-deploy.yml
  www/cypress.config.js
  www/cypress/e2e/1-getting-started/todo.cy.js
  www/cypress/e2e/2-advanced-examples/actions.cy.js
  www/cypress/e2e/2-advanced-examples/aliasing.cy.js
  www/cypress/e2e/2-advanced-examples/assertions.cy.js
  www/cypress/e2e/2-advanced-examples/connectors.cy.js
  www/cypress/e2e/2-advanced-examples/cookies.cy.js
  www/cypress/e2e/2-advanced-examples/cypress_api.cy.js
  www/cypress/e2e/2-advanced-examples/files.cy.js
  www/cypress/e2e/2-advanced-examples/local_storage.cy.js
  www/cypress/e2e/2-advanced-examples/location.cy.js
  www/cypress/e2e/2-advanced-examples/misc.cy.js
  www/cypress/e2e/2-advanced-examples/navigation.cy.js
  www/cypress/e2e/2-advanced-examples/network_requests.cy.js
  www/cypress/e2e/2-advanced-examples/querying.cy.js
  www/cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  www/cypress/e2e/2-advanced-examples/traversal.cy.js
  www/cypress/e2e/2-advanced-examples/utilities.cy.js
  www/cypress/e2e/2-advanced-examples/viewport.cy.js
  www/cypress/e2e/2-advanced-examples/waiting.cy.js
  www/cypress/e2e/2-advanced-examples/window.cy.js
  www/cypress/e2e/spec.cy.js
  www/package-lock.json
  www/package.json
Due: prettier --write, eslint --fix

cypress setup
  .github/workflows/www-production-deploy.yml
  www/cypress.config.js
  www/cypress/e2e/1-getting-started/todo.cy.js
  www/cypress/e2e/2-advanced-examples/actions.cy.js
  www/cypress/e2e/2-advanced-examples/aliasing.cy.js
  www/cypress/e2e/2-advanced-examples/assertions.cy.js
  www/cypress/e2e/2-advanced-examples/connectors.cy.js
  www/cypress/e2e/2-advanced-examples/cookies.cy.js
  www/cypress/e2e/2-advanced-examples/cypress_api.cy.js
  www/cypress/e2e/2-advanced-examples/files.cy.js
  www/cypress/e2e/2-advanced-examples/local_storage.cy.js
  www/cypress/e2e/2-advanced-examples/location.cy.js
  www/cypress/e2e/2-advanced-examples/misc.cy.js
  www/cypress/e2e/2-advanced-examples/navigation.cy.js
  www/cypress/e2e/2-advanced-examples/network_requests.cy.js
  www/cypress/e2e/2-advanced-examples/querying.cy.js
  www/cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  www/cypress/e2e/2-advanced-examples/traversal.cy.js
  www/cypress/e2e/2-advanced-examples/utilities.cy.js
  www/cypress/e2e/2-advanced-examples/viewport.cy.js
  www/cypress/e2e/2-advanced-examples/waiting.cy.js
  www/cypress/e2e/2-advanced-examples/window.cy.js
  www/cypress/e2e/login_screen/login.cy.js
Due: prettier --write, eslint --fix

add cypress e2e tests
  www/cypress/e2e/login_screen/login.cy.js
  www/cypress/fixtures/correct-credentials.json
  www/cypress/fixtures/example.json
  www/cypress/fixtures/wrong-credentials.json
  www/src/App.js
Due: prettier --write, eslint --fix

update Readme
  .prettierignore
  README.md
  www/README.md
Due: prettier --write

update README
  README.md
Due: prettier --write

Update api-production-deploy.yml
  .github/workflows/api-production-deploy.yml
Due: none
