Repository AyariAhmed/Software-Tests-DevOps-Lab: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx,json,md,yaml}": ["prettier --write"],
  "./**/*.{js,jsx,ts,tsx}": ["eslint --fix"]
}

fix lint workflow
  config/default.yaml
  config/development.yaml
  config/production.yaml
  package.json
Due: prettier --write

fix lint workflow
  .github/workflows/lint-and-format.yml
Due: none

fix lint workflow
  docker-compose.yml
Due: none

Create LICENSE
  LICENSE
Due: none

set eslint to only-warn
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

import refactor for tests
  src/auth/auth.controller.spec.ts
  src/auth/entities/client.entity.ts
  src/ordering/entities/order.entity.ts
  src/ordering/entities/orderLine.entity.ts
  src/rating/entities/plateRate.entity.ts
  src/rating/entities/restaurantRate.entity.ts
  src/restaurant/entities/plate.entity.ts
  src/restaurant/entities/restaurant.entity.ts
Due: prettier --write, eslint --fix

add DATABASE_URL connection string as env variable
  .env.example
  package-lock.json
  package.json
  src/app.module.ts
  src/config/typeorm.config.ts
Due: prettier --write, eslint --fix

Add production database at Heroku
  .env.example
  README.md
  config/production.yaml
  src/config/typeorm.config.ts
Due: prettier --write, eslint --fix

update .env.example
  .env.example
Due: none

update README
  README.md
Due: prettier --write

add www and lint workflow
  .github/workflows/lint-and-format-api.yml
  .github/workflows/lint-and-format-www.yml
  .gitignore
  README.md
  www/README.md
  www/package-lock.json
  www/package.json
  www/public/favicon.ico
  www/public/index.html
  www/public/logo192.png
  www/public/logo512.png
  www/public/manifest.json
  www/public/robots.txt
  www/src/App.css
  www/src/App.js
  www/src/App.test.js
  www/src/index.css
  www/src/index.js
  www/src/logo.svg
  www/src/reportWebVitals.js
  www/src/setupTests.js
Due: prettier --write, eslint --fix

update www workflow
  .github/workflows/lint-and-format-www.yml
  www/src/App.js
Due: prettier --write, eslint --fix

update www workflow
  .github/workflows/lint-and-format-www.yml
  www/src/App.css
Due: none

update www workflow
  www/src/App.css
Due: none

update www workflow
  src/ordering/ordering.controller.ts
Due: prettier --write, eslint --fix

update workflows
  .github/workflows/lint-and-format-www.yml
  www/package.json
  www/src/App.css
Due: prettier --write

api workflow test
  src/ordering/ordering.controller.ts
  www/src/App.css
Due: prettier --write, eslint --fix

merge api and www lint workflow
  .github/workflows/lint-and-format-api.yml
  .github/workflows/lint-and-format.yml
Due: none

add www scriptsz
  package.json
Due: prettier --write

fix www lint and format scripts
  package.json
  www/src/App.css
  www/src/components/hello.js
Due: prettier --write, eslint --fix

add global api prefix
  Insomnia-api-endpoints/Insomnia_2022-05-30.json
  src/main.ts
Due: prettier --write, eslint --fix

add www cd
  .env.example
  .github/workflows/lint-and-format.yml
  .github/workflows/www-production-deploy.yml
  .prettierignore
  README.md
  src/auth/auth.service.spec.ts
  src/config/typeorm.config.ts
  www/src/components/hello.js
Due: prettier --write, eslint --fix

update www cd
  .github/workflows/www-production-deploy.yml
Due: none

update workflow
  .github/workflows/www-production-deploy.yml
Due: none

update deploy
  .github/workflows/www-production-deploy.yml
Due: none

test environment secrets
  .github/workflows/www-production-deploy.yml
Due: none

yoo
  .github/workflows/www-production-deploy.yml
Due: none

view region
  .github/workflows/www-production-deploy.yml
Due: none

run pipeline only on www changes
  .github/workflows/www-production-deploy.yml
Due: none

dockerized app
  .dockerignore
  .github/workflows/api-production-deploy.yml
  Dockerfile
  package-lock.json
  package.json
  src/config/typeorm.config.ts
  src/main.ts
Due: prettier --write, eslint --fix

push docker image to DockerHub
  .aws/task-definition.json
  .github/workflows/api-production-deploy.yml
Due: prettier --write

push docker image to DockerHub
  .github/workflows/api-production-deploy.yml
Due: none

lowercase github repository name
  .github/workflows/api-production-deploy.yml
Due: none

test ecs deployment
  .aws/task-definition.json
  .github/workflows/api-production-deploy.yml
  docker-compose.yml
Due: prettier --write
